* {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth; 
  }
body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin:0;
}
a{
  text-decoration: none;
}
h2, p{
  margin: 0;
  padding: 0;
}
.name{
  font-size: 30px;
}
.container {
    width: auto;
    margin: 0 auto;
  }
.nav{
background-color: darkslategray;
  }
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
  }
.main-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: darkolivegreen;
  }
.section {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
.main__about__title{
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
  }
.section-contacts{
  display: flex;
  justify-content: center;
}
.section-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.section__button{
  border: 2px solid #009688;
  border-radius: 15px;
  width: 170px;
  padding: 15px;
  font-size: 17px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.section__button:hover{
  
}
.section-background{
  background: #9dd2b3cd;
  padding: 10px;
}
.active{
  background: lightseagreen;
}
.nav-link{
  color: whitesmoke;
}
.main{
  display: flex;
  height: 100vh;
  gap: 150px;
}
.section__profile__photo{
  border-radius: 50%;
  max-width: 350px;
  border: 3px solid seagreen;
  background: darkslategray;
}
.footer-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkslategray;
}
.link-profile{
  color: black;
}

/* ***Media*** */
/* @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  } */