body {
  background: #1a202f;
}
a{
  color: inherit;
}
.navigation a:hover{
  text-decoration: underline 3px wheat dashed;
  color: wheat;
}
.navigation {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  font-size: 22px;
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  padding: 0 70px;
  margin: 20px 0;
}
.main-container{
  height: calc(100vh - 70px);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.main-img{
  border-radius: 50%;
  background: brown;
  width: 400px;
}
.main-img img{
  border-radius: 50%;
}
.main-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  gap: 20px;
  color: brown;
}
.main-content__title{
  font-size: 2rem;
}